[[source]]
url = "https://github.com/jsonfm/xades-bes-sri"
verify_ssl = true
name = "xadessri"

[packages]
cryptography = "==42.0.8"
lxml = "==5.2.1"

[dev-packages]
lxml-stubs = "==0.5.1"
pytest = "==8.0.2"
setuptools = "==69.1.1"

[requires]
python_version = "3.9"
